@import "~normalize.css/normalize.css";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,700');


// ----- VARIABLES -----
$input-border-color: #ddd;
$input-text-color: #4e4e4e;

$body-background:#A8D0E6;

$button-submit-color:#374785;
$button-submit-color-active:#2e3c71;
$button-submit-color-hover:#425290;

$sans-serif:'Raleway', sans-serif;
$serif:'Playfair Display', serif;


// ----- MIXINS -----
@mixin absolute-center{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

@mixin card-styles{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	border-radius:2px 2px 5px 5px;
	border-top:4px solid #374785;
}

// ----- FIX NORMALIZE CSS FONT_FAMILY ON INPUTS -----
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background:$body-background;
	font-family:$sans-serif;
	font-size:11px;
	position: relative;
}

// ----- Postitioning -----
.absolute-center{
	@include absolute-center;
}

// ----- INPUTS -----
.text-input{
	height:50px;
	border:solid $input-border-color 1px;
	border-color:$input-border-color;
	color:$input-text-color;
	padding:0 20px 0 20px;
	font-size:14px;
	outline:none;
	border-radius:2px;

	&:focus{
		border-color:#374785;
		transition:border-color .2s;
	}

	&:active, &:focus{
		outline:none;
	}
}

// ----- LINKS -----
.link{
	color:$button-submit-color;
	cursor:pointer;

	&:hover{
		color:$button-submit-color-hover;
	}
}

// ----- BUTTONS -----
.button{
	height:50px;
	border-radius:3px;
	padding-left:20px;
	padding-right:20px;
	border:none;
	font-size:14px;
	outline:none;

	&:hover, &:active, &:focus{
		outline:none;
	}

	&:not(:disabled){
		&:hover{
			cursor:pointer;
		}
	}

	&.button--submit{
		background:$button-submit-color;
		color:#fff;

		&:not(:disabled){
			&:hover{
				background:$button-submit-color-hover;
			}

			&:active{
				background:$button-submit-color-active;
			}
		}
	}
}

// Wrapper for centered fullpage elements
.fullpage-wrapper{
	position:relative;
	height:100vh;
}

.padded-page, .fullpage-wrapper--padded{
	padding:10px;
	width:100%;
}


// Forms that exist in the center of the page
.page-form{
	background:#fff;
	width:100%;
	max-width:400px;
	padding:10px;
	@include card-styles;

	.text-input{
		display:block;
		width:100%;
		margin-bottom:10px;
	}

	.button--submit{
		width:100%;
		margin-top:40px;
	}

	.page-form__header{
		font-size:30px;
		font-weight:700;
		padding-bottom:10px;
		display:block;
		color:#4e4e4e;
	}

	.page-form__description{
		padding-bottom:10px;
		display:block;
	}
}


//sgin out button on page
.sign-out-element{
	border:none;
	background:none;
	float:right;
}


//list of stock cards on page
.portfolio-list{
	display:flex;
	flex-wrap:wrap;
}


// standard card look
.card{
	@include card-styles;
	font-weight:bold;
	text-align:center;
	margin:10px auto 0 auto;
	background:#fff;
	padding:5px;
	max-width:100%;
	overflow:hidden;

	@media (min-width:781px){
		margin:10px;
	}

	.card__imported-img{
		max-width: 100%;
	}
}

.new-symbol-form{
	@include card-styles;
	background:#fff;
	padding:5px;
	display:inline-block;
	//margin-left:10px;

	.text-input{
		margin-right:10px;
	}
}